<nav class="navbar">
<a routerLink="/" class="logo-area">
  <img src="https://localhost:7211/images/Main_Icon.png" alt="Mogoneba_Logo" class="logo-icon" />
  <span class="logo-text">Mogoneba</span>
</a>



  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/memories" routerLinkActive="active">Memories</a></li>
    <li><a routerLink="/collections" routerLinkActive="active">Collections</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
  </ul>

<a *ngIf="!isLoggedIn" routerLink="/login" class="register-btn">Login</a>
<a *ngIf="isLoggedIn" routerLink="/profile" class="profile-btn">Profile</a>

</nav>
