<nav class="navbar">
<a routerLink="/" class="logo-area">
  <img src="https://localhost:7211/images/Main_Icon.png" alt="Mogoneba_Logo" class="logo-icon" />
  <span class="logo-text">Mogoneba</span>
</a>



  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/memories" routerLinkActive="active">Memories</a></li>
    <li><a routerLink="/collections" routerLinkActive="active">Collections</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    <li><a routerLink="/add-memory" class="add-memory-btn">
  <span class="plus-icon">+</span> Add Memory
</a></li>

  </ul>





<div class="auth-actions">
  <a *ngIf="!isLoggedIn" routerLink="/login" class="register-btn">Login</a>
  <div *ngIf="isLoggedIn" class="profile-wrapper" (click)="toggleDropdown()">
    <span class="profile-btn">Profile ▾</span>
    <div *ngIf="dropdownOpen" class="dropdown">
      <a routerLink="/profile">View Profile</a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
</div>




</nav>
